<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style1.css">
    <script src="javascp_common.js"></script>
</head>
<body>
    <!-- {% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{message}}');</script>
        {% endfor %}
    {% endif %}
    {% endwith %} -->
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li id="veedu"><a href="">Home</a></li>
                    <li><a href="{{url_for('service')}}">Services</a></li>
                    <li><a href="">Spares</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="about_page">
                <!-- kadai adrees name etc., -->
                <h2 id="title">Jacob Enterprises</h2>
                <br>
                <p id="catch"><span id="phrase">Expertise in AC, DC Motor Repair, and Powertools | Sales & Service</span></p>
                <br>
                <p><span id="num">9551128064 | 9444673227</span></p>
                
            </div>
            <div>
                    <p id="dev_title">WEB DEVELOPERS :</p>
            </div>
            <div class="dev_details">
                <div class="devs">
                    <p>hello</p>
                </div>
                <div class="devs">
                    <p>hello</p>
                </div>
                <div class="devs">
                    <p>hello</p>
                </div>
            </div>
            <!--side navigaiton panel oda code ithu-->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Finance</a>
            <a href="#">Spares Lookup</a>
            <a href="#">Spares Update</a>

        </div>
        </section>
    </main>
</body>
</html>
