<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance</title>
    <link rel="stylesheet" href="static/style1.css">
    <link rel="icon" href="pics/finance.png" type="image/png">
</head>
<body>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{message}}');</script>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="{{url_for('home')}}" class="navli" >Home</a></li>
                    <li><a href="{{url_for('service')}}" class="navli">Services</a></li>
                    <li><a href="{{url_for('spares')}}" class="navli">Spares</a></li>
                    <li><a href="{{url_for('about')}}" class="navli">About</a></li>
                </ul>
            </nav>
        </header>
        <section onclick="closeNav()">
            <div class="upbox">
                <div id="month">
                Monthly Profit : {{month_profit}}
                </div>
                <div id="day">
                Today's Profit : {{todays_profit}}
                </div>
            </div>
            <div class="finance-table-div">
                <div>
                    <table class="finance_table">
                        <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Customer name</th>
                            <th>Product type</th>
                            <th>Quantity</th>
                            <th>Profit made</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for info in infos %}
                            <tr>
                                <td>{%if info.P_id==-1%}Spare sale
                                    {% else%}{{info.P_id}}
                                    {% endif %}
                                </td>
                                <td>{{info.C_name}}</td>
                                <td>{{info.Machine}}</td>
                                <td>{% if info.P_id==-1%} {{info.Machine}}
                                    {% else %} -
                                    {% endif %}
                                </td>
                                <td>{{info.Totalbill}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </main>
    
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/finance">Finance</a>
        <a href="/lookup">Spares Lookup</a>
        <a href="/spares_update">Spares Update</a>
        <a href="/old_record_search">Old records</a>
    </div>
    <script src="static/javascp_services.js"></script>
</body>

</html>