<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance</title>
    <link rel="stylesheet" href="static/style1.css">
    <link rel="icon" href="pics/finance.png" type="image/png">
</head>
<body>
    <!-- {% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{message}}');</script>
        {% endfor %}
    {% endif %}
    {% endwith %} -->
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li id="veedu"><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('service')}}">Services</a></li>
                    <li><a href="{{url_for('spares')}}">Spares</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="upbox">
                <div id="month">
                Monthly Profit : 1000
                </div>
                <div id="day">
                Today's Profit : 10
                </div>
            </div>
            <table id="finance_table">
                <tr>
                    <th>Product ID</th>
                    <th>Customer name</th>
                    <th>Product type</th>
                    <th>Profit made</th>
                </tr>
                <tr>
                    <td>M12345</td>
                    <td>Kishore</td>
                    <td>motor</td>
                    <td>10000</td>
                </tr>
                </tr>
                <tr>
                    <td>M12345</td>
                    <td>manikraj</td>
                    <td>motor</td>
                    <td>10000</td>
                </tr>
                </tr>
                <tr>
                    <td>M12345</td>
                    <td>arun kumar</td>
                    <td>motor</td>
                    <td>10000</td>
                </tr>
            </table>
            
        <!-- </section>
        <script>
            function calculateTotalProfit() {
                const profitCells = document.querySelectorAll('.profit');
                let totalProfit = 0;
                profitCells.forEach(cell => {
                    totalProfit += parseFloat(cell.textContent.replace('$', ''));
                });
                document.getElementById('totalProfit').textContent = 'Total Profit: $' + totalProfit;
            }
    
            // Calculate total profit when the page loads
            window.onload = calculateTotalProfit;
        </script> -->
    </main>
    
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/finance">Finance</a>
        <a href="/lookup">Spares Lookup</a>
        <a href="/spares_update">Spares Update</a>
    </div>
    <script src=static/javascp_services.js""></script>
</body>

</html>