<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="static/style1.css">
    <link rel="icon" href="pics/home.png" type="image/png">
</head>
<body>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{message}}');</script>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li id="veedu"><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('service')}}">Services</a></li>
                    <li><a href="{{url_for('spares_update')}}">Spares</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="home-bar">
                <div>
                    <form action="/record_search" method="post">
                        <input id="home-serch" type="search" name="SEARCH" placeholder="Search by Name , ID or Phno">
                        <input id="search-btn" type="submit" value="Search" style="width: 50px;">
                    </form>
                </div>
            </div>
            <div class="home-table">
                <table cellspacing="10px" class="home-detail-table">
                    <tr>
                        <th class="home-detail-th">Id</th>
                        <th class="home-detail-th">Name</th>
                        <th class="home-detail-th">Mobile no</th>
                        <th class="home-detail-th">Color</th>
                        <th class="home-detail-th">Machine</th>
                        <th class="home-detail-th">Date Given</th>
                        <th class="home-detail-th">Repair Status</th>
                        <th class="home-detail-th">Delivery Status</th>
                        <th class="home-detail-th">Edit</th>
                    </tr>
                    {% for info in infos %}
                            <tr>
                                <td class="home-detail-td">{{info.P_id}}</td>
                                <td class="home-detail-td">{{info.C_name}}</td>
                                <td class="home-detail-td">{{info.C_mobile}}</td>
                                <td class="home-detail-td"><center><div style="background-color: {{info.P_color}}; " id="colour_indicator"></div></center></td>
                                <td class="home-detail-td">{{info.Machine}}</td>
                                <td class="home-detail-td">{{info.DateGiven}}</td>
                                <td class="home-detail-td">{{info.RepairStatus}}</td>
                                <td class="home-detail-td">{{info.DeliveryStatus}}</td>
                                <td class="home-detail-td"><a id="edit" href="{{url_for("repair_status",id=info.P_id)}}">Status</a></td>
                            </tr>
                    {% endfor %}
                    <tr>
                        <td class="home-detail-td">M142536</td>
                        <td class="home-detail-td">Kishore</td>
                        <td class="home-detail-td">8925113609</td>
                        <td class="home-detail-td"><center><div style="background-color: green; " id="colour_indicator"></div></center></td>
                        <td class="home-detail-td">motor</td>
                        <td class="home-detail-td">11/08/2004</td>
                        <td class="home-detail-td">none</td>
                        <td class="home-detail-td">none</td>
                        <td class="home-detail-td"><a id="edit" href="#" >Status</a></td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/finance">Finance</a>
        <a href="#">Spares Lookup</a>
        <a href="/spares_update">Spares Update</a>
    </div>
    
    <script src="static/javascp_services.js"></script>
</body>
</html>