<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="style1.css">
    <script src="javascp_common.js"></script>
</head>
<body>
    <!-- {% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{message}}');</script>
        {% endfor %}
    {% endif %}
    {% endwith %} -->
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li id="veedu"><a href="">Home</a></li>
                    <li><a href="{{url_for('service')}}">Services</a></li>
                    <li><a href="">Spares</a></li>
                </ul>
            </nav>
            <input type="text" name="search_input" placeholder="Search by Name">
        </header>
        <section>
            <div class="home-search-bar">
                <div>
                    Filter:
                    <select name="search_filter">
                        <option value="">Fan</option>
                        <option value="">Motor</option>
                        <option value="">PowerTools</option>
                    </select>
                </div>
                <div>
                    <input id="search-btn" type="submit" value="search">
                </div>
            </div>
            <div class="home-table">
                <table cellspacing="10px" class="home-detail-table">
                    <tr>
                        <th class="home-detail-th">Id</th>
                        <th class="home-detail-th">Name</th>
                        <th class="home-detail-th">Mobile no</th>
                        <th class="home-detail-th">Machine Type</th>
                        <th class="home-detail-th">Product Brand</th>
                        <th class="home-detail-th">Puropse</th>
                        <th class="home-detail-th">Motor HP</th>
                        <th class="home-detail-th">Advance</th>
                        <th class="home-detail-th">Payment Status</th>
                        <th class="home-detail-th">Date Given</th>
                        <th class="home-detail-th">Date Return</th>
                        <th class="home-detail-th">Total Bill</th>
                    </tr>
                    <!-- {% for info in infos %}
                            <tr>
                                <td class="home-detail-td">{{info.id}}</td>
                                <td class="home-detail-td">{{info.cname}}</td>
                                <td class="home-detail-td">{{info.phno}}</td>
                                <td class="home-detail-td">{{info.mtype}}</td>
                                <td class="home-detail-td">{{info.brand}}</td>
                                <td class="home-detail-td">{{info.purpose}}</td>
                                <td class="home-detail-td">{{info.mhp}}</td>
                                <td class="home-detail-td">{{info.advance}}</td>
                                <td class="home-detail-td">{{info.payment}}</td>
                                <td class="home-detail-td">{{info.dog}}</td>
                                <td class="home-detail-td">{{info.dor}}</td>
                                <td class="home-detail-td">{{info.total}}</td>
                                <td class="home-detail-td"><a href="">Bill</a></td>
                            </tr>
                    {% endfor %} -->
                </table>
            </div>
        </div>

    <!--side navigaiton panel oda code ithu-->>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Finance</a>
            <a href="#">Spares Lookup</a>
            <a href="#">Spares Update</a>
        </div>
        
        </section>
    </main>
</body>
</html>