<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="static/style1.css">
    <link rel="icon" href="static/pics/home.png" type="image/png">
</head>
<body>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{message}}');</script>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="{{url_for('home')}}" class="navli" >Home</a></li>
                    <li><a href="{{url_for('service')}}" class="navli">Services</a></li>
                    <li><a href="{{url_for('spares')}}" class="navli">Spares</a></li>
                    <li><a href="{{url_for('about')}}" class="navli">About</a></li>
                </ul>
            </nav>
        </header>
        <section onclick="closeNav()">

            <div class="home-bar" style="gap: 400px;">
                <div style="display: flex; gap: 10px; align-items: center;  ">
                    <!-- to serach with date -->
                    <form action="/old_record_search" method="post">
                        <input type="date" name="Start_date">
                        <input type="date" name="End_date">
                        <input id="search-btn" type="submit" value="Search" style="width: 50px;">
                    </form>
                </div>
            </div>
            <div class="home-table">
                <div>
                    <table cellspacing="10px" class="home-detail-table">
                        <tr>
                            <th class="home-detail-th">Id</th>
                            <th class="home-detail-th">Name</th>
                            <th class="home-detail-th">Mobile no</th>
                            <th class="home-detail-th">Color</th>
                            <th class="home-detail-th">Machine</th>
                            <th class="home-detail-th">Date Given</th>
                            <th class="home-detail-th">Date delivered</th>
                            <th class="home-detail-th">Edit</th>
                        </tr>
                        {% for info in infos %}
                                <tr {% if info.RepairStatus!='on' %}
                                style="background-color: rgba(255,0,0,0.5);"
                                {% endif %}>
                                    <td class="home-detail-td">{{info.P_id}}</td>
                                    <td class="home-detail-td">{{info.C_name}}</td>
                                    <td class="home-detail-td">{{info.C_mobile}}</td>
                                    <td class="home-detail-td"><div style="background-color: {{info.P_color}};" id="colour_indicator"></div></td>
                                    <td class="home-detail-td">{{info.Machine}}</td>
                                    <td class="home-detail-td">{{info.DateGiven}}</td>
                                    <td class="home-detail-td">{{info.DateDelivered}}</td>
                                    <td class="home-detail-td"><a id="edit" href="{{url_for("repair_status",id=info.P_id)}}">Status</a></td>
                                </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>
    </main>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/finance">Finance</a>
        <a href="/lookup">Spares Lookup</a>
        <a href="/spares_update">Spares Update</a>
        <a href="/old_record_search">Old records</a>
    </div>
    
    <script src="static/javascp_services.js"></script>
</body>
</html>