<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
    <link rel="stylesheet" href="static/style1.css">
</head>
<body>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{message}}');</script>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="{{url_for('home')}}" class="navli" >Home</a></li>
                    <li><a href="{{url_for('service')}}" class="navli">Services</a></li>
                    <li><a href="{{url_for('spares')}}" class="navli">Spares</a></li>
                    <li><a href="{{url_for('about')}}" class="navli">About</a></li>
                </ul>
            </nav>
        </header>
        <section onclick="closeNav()">
            <div class="service-nav">
                <div class="tab" onclick="showTab(0)">Fan</div>
                <div class="tab active" onclick="showTab(1)">Motor</div>
                <div class="tab" onclick="showTab(2)">PowerTools</div>
            </div>
            <div class="services">
            <div class="tab-content">
                <form action="/fan_submit" class="tab-contant" method="post">
                    <div class="service_table_fan">
                        <table class="service-table">
                            <tr>
                                <th class="form-title" colspan="4">Fan Details Entry</th>
                            </tr>
                            <tr>
                                <td>Product ID:</td>
                                <td><h1 class="id" style="font-size: 20px;">{{'F'+info}}</h1></td>
                                <td>Fan type:</td>
                                <td>
                                    <select name="FANTYPE" class="dropbtn">
                                        <option value="Celling fan">Celling fan</option>
                                        <option value="Table fan">Table fan</option>
                                        <option value="Almonard pedestal">Almonard pedestal</option>
                                        <option value="Almonard Wall mounting">Almonard Wall</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Customer Name:</td>
                                <td><input type="text" placeholder="Customer Name" name="NAME"></td>
                                <td>Missing Parts:</td>
                                <td><input type="text" name="MISSINGPARTS"></td>
                            </tr>
                            <tr>
                                <td>Mobile No:</td>
                                <td><input type="number" placeholder="Contact" name="MOBILE"></td>
                                <td>Date given:</td>
                                <td><input type="date" name="DATEOFGIVEN"></td>
                            </tr>
                            <tr>
                                <td>Color:</td>
                                <td><input type="color" name="COLOR" id=""></td>
                                <td>Advance:</td>
                                <td><input type="number" placeholder="Enter amount" name="ADVANCE" VALUE=0></td>
                            </tr>
                        </table>
                        <div id="service-footer">
                            <input type="submit" value="Submit" class="submit">
                        </div> 
                    </div>
                </form>
                </div>   

                <div class="tab-content active">
                <form action="/motor_submit" class="tab-contant active" method="post">
                    <div class="service_table_motor">
                        <table class="service-table">
                            <tr>
                                <th class="form-title" colspan="4">Motor Details Entry</th>
                            </tr>
                            <tr>
                                <td>Product ID:</td>
                                <td><h1 class="id" style="font-size: 20px;">{{'M'+info}}</h1></td>
                                <td>Motor HP:</td>
                                <td>
                                    <select name="HP" id="">
                                        <option value="1/2">1/2</option>
                                        <option value="3/4">3/4</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="5">5</option>
                                        <option value="100">100</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Customer Name:</td>
                                <td><input type="text" name="NAME" placeholder="Customer name"></td>
                                <td>Missing Parts:</td>
                                <td><input type="text" name="MISSINGPARTS" placeholder="Parts"></td>
                            </tr>
                            <tr>
                                <td>Mobile No:</td>
                                <td><input type="number" name="MOBILE" placeholder="Contact"></td>
                                <td>Date given:</td>
                                <td><input type="date" name="DATEOFGIVEN"></td>
                            </tr>
                            <tr>
                                <td>Color:</td>
                                <td><input type="color" name="COLOR" id=""></td>
                                <td>Advance:</td>
                                <td><input type="number" name="ADVANCE" value=0></td>
                            </tr>
                        </table>
                        <div id="service-footer">
                            <input type="submit" value="Submit" class="submit">
                        </div>
                    </div>
                </form>
                </div>

                <div class="tab-content">
                <form action="/powertool_submit" class="tab-contant" method="post">
                    <div class="service_table_powertools">
                        <table class="service-table">
                            <tr>
                                <th class="form-title" colspan="4">PowerTools Details Entry</th>
                            </tr>
                            <tr>
                                <td>Product ID:</td>
                                <td><h1 class="id" style="font-size: 20px;">{{'P'+info}}</h1></td>
                                <td>Company:</td>
                                <td>
                                    <select name="COMPANY">
                                        <option>Bosch</option>
                                        <option>Makita</option>
                                        <option>Dewalt</option>
                                        <option>Hitachi</option>
                                        <option>China made</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Customer Name:</td>
                                <td><input type="text" placeholder="Customer Name" name="NAME"></td>
                                <td>Model size:</td>
                                <td><input type="number" placeholder="Enter size" name="MODELNO"></td>
                            </tr>
                            <tr>
                                <td>Mobile No:</td>
                                <td><input type="number" placeholder="Contact" name="MOBILE"></td>
                                <td>Missing Parts:</td>
                                <td><input type="text" name="MISSINGPARTS"></td>
                            </tr>
                            <tr>
                                <td>Color:</td>
                                <td><input type="color" name="COLOR" id=""></td>
                                <td>Date given:</td>
                                <td><input type="date" name="DATEOFGIVEN"></td>
                            </tr>
                            <tr>
                                <td>Powertools Type:</td>
                                <td>
                                    <select name="POWERTOOLS">
                                        <option>Wood cutter</option>
                                        <option>Drilling</option>
                                        <option>Cut-off saw</option>
                                        <option>Grinding</option>
                                    </select>
                                </td>
                                <td>Advance:</td>
                                <td><input type="number" name="ADVANCE" VALUE=0></td>
                            </tr>
                        </table>
                        <div id="service-footer">
                            <input type="submit" value="Submit" class="submit">
                        </div>
                    </div>
                </form>
                </div>

            </div>
        </section>
    </main>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/finance">Finance</a>
        <a href="/lookup">Spares Lookup</a>
        <a href="/spares_update">Spares Update</a>
        <a href="/old_record_search">Old records</a>
    </div>
    
    <script src="static/javascp_services.js"></script>
</body>
</html>