<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('service')}}">Services</a></li>
                    <li><a href="">Spares</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="service-nav">
                <div class="tab active" onclick="navigation()">Fan</div>
                <div class="tab" onclick="navigation()">Motor</div>
                <div class="tab" onclick="navigation()">PowerTools</div>
            </div>
            <div class="services">
                <form action="{{url_for('home')}}" method="post">
                    <table class="service-table">
                        <tr>
                            <th class="form-title" colspan="2">Fan Details Entry</th>
                        </tr>
                        <tr>
                            <td>Product ID:</td>
                            <td><input type="text" value="" name="ID"></td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" name="NAME"></td>
                        </tr>
                        <!-- FAN DETAILS -->
                        <tr class="fan-ignore" style="display: none;">
                            <td>Fan type:</td>
                            <td>
                                <select>
                                  <option>Celling fan</option>
                                  <option>Table fan</option>
                                  <option>Almonard pedestal</option>
                                  <option>Almonard Wall mounding</option>
                                </select>
                            </td>
                        </tr>
                        <!-- MOTOR DETAIL -->
                        <tr class="motor-ignore" style="display: none;">
                            <td>Motor HP:</td>
                            <td>
                                <select name="HP" id="">
                                    <option value="1/2">1/2</option>
                                    <option value="3/4">3/4</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="5">5</option>
                                    <option value="100">100</option>
                                </select>
                            </td>
                        </tr>
                        <!-- POWER TOOLS DETAILS -->
                        <tr class="powertool-ignore" style="display: none;">
                            <td>Powertools Type:</td>
                            <td>
                                <select name="POWERTOOLS">
                                    <option>Wood cutter</option>
                                    <option>Drilling</option>
                                    <option>cut off saw</option>
                                    <option>Grinding</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="powertool-ignore" style="display: none;">
                            <td>Company:</td>
                            <td>
                                <select name="COMPANY">
                                    <option>Bosch</option>
                                    <option>Makita</option>
                                    <option>Dewalt</option>
                                    <option>Hitachi</option>
                                    <option>China made</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="powertool-ignore" style="display: none;">
                            <td class="powerexclusive">Model no:</td>
                            <td><input type="text" name="MODEL NO"></td>
                        </tr>
                        <tr>
                            <td>Mobile No:</td>
                            <td><input type="number" name="MOBILE"></td>
                        </tr>
                        <tr>
                            <td>Color:</td>
                            <td><input type="color" name="COLOR" id=""></td>
                        </tr>
                        <tr>
                            <td>Date given:</td>
                            <td><input type="date" name="DATEOFGIVEN"></td>
                        </tr>
                        <tr>
                            <td>Advance:</td>
                            <td><input type="number" name="ADVANCE" VALUE=0></td>
                        </tr>
                    </table>
                </form>
            </div>
        </section>
    </main>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Finance</a>
        <a href="#">Spares Lookup</a>
        <a href="#">Spares Update</a>
    </div>
    
    <script src="javascp_services.js"></script>
    <script src="javascp_common.js"></script>
</body>
</html>