<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="static/style1.css">
    <link rel="icon" href="pics/home.png" type="image/png">
</head>
<body>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{message}}');</script>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="{{url_for('home')}}" class="navli" >Home</a></li>
                    <li><a href="{{url_for('service')}}" class="navli">Services</a></li>
                    <li><a href="{{url_for('spares')}}" class="navli">Spares</a></li>
                    <li><a href="{{url_for('about')}}" class="navli">About</a></li>
                </ul>
            </nav>
        </header>
        <section onclick="closeNav()">
            <div class="spares-sale-table">
                <div>
                    <table cellspacing="10px" class="spare-detail-table">
                        <tr>
                            <th class="home-detail-th">Spare Name</th>
                            <th class="home-detail-th">Use case</th>
                            <th class="home-detail-th">Units Available</th>
                            <th class="home-detail-th">Price</th>
                            <th class="home-detail-th">Quantity</th>
                            <th class="home-detail-th">Sell stocks</th>
                        </tr> 
                        {% for info in infos %}
                            <form action="{{url_for("sell_spare",id=info.S_id)}}" method="post">
                                <tr>
                                    <td>{{info.S_name}}</td>
                                    <td>{{info.S_use}}</td>
                                    <td>{{info.S_stock}}</td>
                                    <td>{{info.S_Cost}}</td>
                                    <td><input type="number" name="quantity" value=0></td>
                                    <td><a style="color: white;"><button style="background-color: rgb(249, 60, 60);border-radius: 5px; width: 100px;height: 30px;">Sell</button></a></td>
                                </tr>
                            </form>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>
        </main>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/finance">Finance</a>
                <a href="/lookup">Spares Lookup</a>
                <a href="/spares_update">Spares Update</a>
            </div>
            <script src="static/javascp_services.js"></script>
    </body>
</html>
            