<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spares Lookup</title>
    <link rel="stylesheet" href="style1.css">
    
</head>
<body>
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li id="veedu"><a href="">Home</a></li>
                    <li><a href="{{url_for('service')}}">Services</a></li>
                    <li><a href="">Spares</a></li>
                </ul>
            </nav>
            <input type="text" name="search_input" placeholder="Search by Name">
        </header>
        <section class="main_contentof_page">
            <div class="spares-lookup-filter">
                <div>
                    Filter:
                    <select name="search_filter" id="searchfilter" onchange="search_criteria()">
                        <option value="product">Search by Product</option>
                        <option value="date">Search by date</option>
                    </select>
                </div>
                
                <div class="dates">
                    <input type="date" name="Start date">
                    <input type="date" name="End date">    
                </div>
                <div class="search-dabba">
                    <input type="text" name="product_entry">
                </div>
                
                <div>
                    <input id="search-btn" type="submit" value="search" onclick="search_criteria()">
                </div>
            </div>
            <div class="spares-lookup-table">
                <center>
                <table cellspacing="10px" class="by_product">
                    <tr>
                        <th class="home-detail-th">Spare Name</th>
                        <th class="home-detail-th">Spare ID</th>
                        <th class="home-detail-th">Use case</th>
                        <th class="home-detail-th">Units</th>
                        <th class="home-detail-th">Date</th>
                    </tr>
                </table>
                </center>
            </div>
        </div>
        </section>
    </main>

<!--side navigaiton panel oda code ithu-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Finance</a>
    <a href="#">Spares Lookup</a>
    <a href="#">Spares Update</a>
</div>

    <script src="javascp_sparelookup.js"></script>
    <script src="javascp_common.js"></script>
</body>
</html>