<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spares Update</title>
    <link rel="stylesheet" href="static/style1.css">
    <link rel="icon" href="pics/icons-update.png" type="image/png">
</head>
<body>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{message}}');</script>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="{{url_for('home')}}" class="navli" >Home</a></li>
                    <li><a href="{{url_for('service')}}" class="navli">Services</a></li>
                    <li><a href="{{url_for('spares')}}" class="navli">Spares</a></li>
                    <li><a href="{{url_for('about')}}" class="navli">About</a></li>
                </ul>
            </nav>
        </header>
        <section onclick="closeNav()">
            <div class="additem">
                <div id="deact">
                    <p id="close" onclick="additemDeactive()">x</p>
                </div>
                <div class="additem-container">
                    <form action="/add_new_item" method="post">
                        <table>
                            <tr>
                                <th colspan="2" style="font-family: servfont;">Add Item</th>
                            </tr>
                            <tr>
                                <td>Name:</td>
                                <td><input type="text" name="SPARENAME"></td>
                            </tr>
                            <tr>
                                <td>Used for:</td>
                                <td>
                                    <select name="USECASE" style="width: 170px; border-radius: 50px;">
                                        <option value="powertool">Powertool</option>
                                        <option value="motor">Motor</option>
                                        <option value="fan">Fan</option>
                                        <option value="common">Common</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Available:</td>
                                <td><input type="number" name="SPAREAVAILABLE"></td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td><input type="number" name="SPARECOST"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><center><input type="submit" value="+ADD"
                                    style="background-color: rgb(0, 255, 0);
                                    border-radius: 15px;
                                    border: 2px solid white;
                                    font-family: servfont;
                                    width: 100px;"></center></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="spares-update-bar">
                <div>
                    <form action="/record_search_spare" method="post">
                        <input type="text" placeholder="Search by name" name="SEARCH" style="border-radius: 20px 0px 0px 20px;">
                        <input type="submit" value="" id="search-btn">
                    </form>
                </div>
                <div>
                    <a  onclick="additemActive()"><button class="add_new_item">+New Item</button></a>
                    <!-- new spare adder -->
                </div>

            </div>
            <div class="spares-update-table">
                <div>
                    <table cellspacing="10px" class="spare-detail-table">
                        <tr>
                            <th class="home-detail-th">Spare ID</th>
                            <th class="home-detail-th">Spare Name</th>
                            <th class="home-detail-th">Use case</th>
                            <th class="home-detail-th">Units Available</th>
                            <th class="home-detail-th">Price</th>
                            <th class="home-detail-th" colspan="2">Update controls</th>
                        </tr>
                        {% for info in infos %}
                                <tr>
                                    <td>{{info.S_serno}}</td>
                                    <td>{{info.S_name}}</td>
                                    <td>{{info.S_use}}</td>
                                    <td>{{info.S_stock}}</td>
                                    <td>{{info.S_Cost}}</td>
                                    <td><button class="update"><a href="{{url_for("update_item",id=info.S_id)}}">Update</a></button></td>
                                    <td><a onclick="return confirm('Are you sure to delete?');" href="{{url_for("delete_item",id=info.S_id)}}"><button class="delete" >Delete</button></a></td>
                                </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    <!--side navigaiton panel oda code ithu-->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/finance">Finance</a>
            <a href="/lookup">Spares Lookup</a>
            <a href="/spares_update">Spares Update</a>
            <a href="/old_record_search">Old records</a>
        </div>
        
        </section>
    </main>
</body>

<script src="static/javascp_services.js"></script>
</html>