<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spares Lookup</title>
    <link rel="stylesheet" href="static/style1.css">
    
</head>
<body>
    <main>
        <header class="header">
            <div>
                <button id="sidepane_button" onclick="openNav()"></button>
            </div>
            <div id="shop-name">
                <p>Jacob Enterprises</p>
            </div>
            <nav id="nav-bar">
                <ul>
                    <li><a href="{{url_for('home')}}" class="navli" >Home</a></li>
                    <li><a href="{{url_for('service')}}" class="navli">Services</a></li>
                    <li><a href="{{url_for('spares')}}" class="navli">Spares</a></li>
                    <li><a href="{{url_for('about')}}" class="navli">About</a></li>
                </ul>
            </nav>
        </header>
        <section class="main_contentof_page" onclick="closeNav()">
            <div class="spares-lookup-filter">
                
                <div>
                    <form action="" method="post">
                        <div>
                            <input type="date" name="Start_date">
                            <input type="date" name="End_date"> 
                        <input id="home-serch" type="search" name="SEARCH" placeholder="Search by Name , ID or Phno">
                        <input id="search-btn" type="submit" value="Search" style="width: 50px;">
                    </div>
                    </form>
                </div>
            </div>
            <div class="spares-lookup-table">
                <center>
                <table cellspacing="10px" class="by_product">
                    <tr>
                        <th class="home-detail-th">Spare Name</th>
                        <th class="home-detail-th">Use case</th>
                        <th class="home-detail-th">Units</th>
                        <th class="home-detail-th">Date</th>
                    </tr>
                </table>
                </center>
            </div>
        </div>
        </section>
    </main>

<!--side navigaiton panel oda code ithu-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/finance">Finance</a>
    <a href="/lookup">Spares Lookup</a>
    <a href="/spares_update">Spares Update</a>
</div>
    <script src="static/javascp_services.js"></script>
</body>
</html>